body{
    height: 1000px;
    background-color: antiquewhite !important;
    font-family:  Helvetica, sans-serif !important;
}


@media (min-width: 992px) { 
    #head-title{
        background-color: blue;
        font-size: xx-large;
        font-weight: 500;
    }
}
